
* {
    padding: 0;
    margin: 0;
}
body {
    height: 200vh;
}
header {
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-family: "Poppins";

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url(https://images.pexels.com/photos/375882/pexels-photo-375882.jpeg);
    background-position: center;
    background-size: cover;


}
header > div {
    width: 100%;
    z-index: 2;
}
header div.mascara {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(49, 33, 25, 0.747);
    z-index: 1;
}
header div.superior {
    display: flex;
    justify-content: space-between;
}
header div.inferior {
    text-align: center;
    padding: 225px 0;

    display: flex;
    justify-content: center;
    align-items: center;

}
header nav {
    display: flex;
    text-align: center;
    align-items: center;
}
header nav a {
    text-decoration: none;
    color: white;
    margin: 20px;
    display: block;
    position: relative;
}
header nav.izquierda div.logo {
    border: 1px solid white;
    margin-right: 5px;
}
header nav.izquierda div.logo a {
    font-size: 2rem;
    margin: 3px;
    padding: 0 5px;
    font-family: Arial, Helvetica, sans-serif;
}

header .inferior h1 {
    margin: 0 50px;
    font-size: 3rem;
}
header .inferior .linea {
    width: 150px;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.4);
}

header nav.izquierda a span {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(232, 195, 150);
    transition: all 1s;
    height: 1px;
}
header nav.izquierda a:hover span{
    animation: linea .5s linear forwards;
}
@keyframes linea {
    0% {width: 0;}
    100% {width: 100%;}
}



.gallery {
    display: flex;
    flex-wrap: wrap;
    height: 1800px;
    justify-content: center;
    padding: 150px 0;
}

.gallery div.imagen {
    width: 25%;
    height: 30%;
    background-color: #333;
    border: 1px solid white;
    background-size: cover;
    background-position: center;
    margin: 10px;
    padding: 20px;

}



.gallery .imagen:first-child{
    background-image: url(https://images.pexels.com/photos/768126/pexels-photo-768126.jpeg);
    background-size: cover;
    background-position: center; 
}


.gallery .imagen:nth-child(2){
    background-image: url(https://images.pexels.com/photos/4388165/pexels-photo-4388165.jpeg);
    background-size: cover;
    background-position: center; 
}

.gallery .imagen:nth-child(3){
    background-image: url(https://images.pexels.com/photos/1585325/pexels-photo-1585325.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center; 
}


.gallery .imagen:nth-child(4){
    background-image: url(https://images.pexels.com/photos/19987320/pexels-photo-19987320/free-photo-of-ciudad-arte-punto-de-referencia-viaje.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center; 
}



.gallery .imagen:nth-child(5){
    background-image: url(https://images.pexels.com/photos/19977863/pexels-photo-19977863/free-photo-of-arte-pared-muro-estatua.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center; 
}


.gallery .imagen:nth-child(6){
    background-image: url(https://images.pexels.com/photos/19984204/pexels-photo-19984204/free-photo-of-mujer-arte-artista-cuadros.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center; 
}


.gallery .imagen:nth-child(7){
    background-image: url();
    background-size: cover;
    background-position: center; 
}


.gallery .imagen:nth-child(7){
    background-image: url(https://images.pexels.com/photos/19969890/pexels-photo-19969890/free-photo-of-banco-pareja-arte-sentado.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center; 
}


.gallery .imagen:nth-child(8){
    background-image: url(https://images.pexels.com/photos/19923139/pexels-photo-19923139/free-photo-of-mujer-arte-modelo-maqueta.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center; 
}


.gallery .imagen:last-child{
    background-image: url(https://images.pexels.com/photos/19934110/pexels-photo-19934110/free-photo-of-ciudad-arte-punto-de-referencia-viaje.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center; 
}

div.imagen div.sumar{
    width: 100%;
    height: 0%;
    background-color: white;
    position: relative;
    transition: all .5s;
}


div.imagen div.sumar p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 4rem;
}

div.imagen:hover> div.sumar{
    height: 100%;
}

div.imagen:hover > p{
display: block;
}