#site-main section div {
    display: flex;
    justify-content: center;
}


/*flex para alinear las a con margin-top:auto*/

#site-main section blockquote{
    background-color: #ffffff;
    padding: 20px;
    border-left: 5px solid #000000;
    margin-bottom: 20px;
}

#site-main blockquote footer{
    margin-top: 10px;
}


#site-main section cite, #site-main section p {
    /*font-style:italic; */
    color:#333
}